<div id="<%= dom_id lab_report %>">
  <p>
    <strong>User:</strong>
    <%= lab_report.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= lab_report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lab_report.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= lab_report.grade %>
  </p>

</div>
